@charset "utf-8";

/*    
   Nur Sefferyna Binti Sefie@Seffe
   Date: 30 Jun 2021
   Filename: style.css
*/

.bg-img{
	background-image: url(parcel.jpg);
	min-height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

body {
   margin: auto;
   width: 50%;
   padding: 10px;
   font-family: Arial, verdana, sans-serif;
}

h1 {
	text-align: center;
}

input[type="text"], input[type="number"]  {
	width: 100%;
	height: 30px;
}

#button {
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}
